<xml version="1.0" encoding="UTF-8">
    <SIMULATION_DELTA_TIME>0.005</SIMULATION_DELTA_TIME>
    <FRAMES_PER_PRINT>20</FRAMES_PER_PRINT>
    <LOG_ON>true</LOG_ON>

    <DELAY_GHOST>0.5</DELAY_GHOST>
    <DELAY_GETUP>20</DELAY_GETUP>
    <DELAY_BAGS>10</DELAY_BAGS>
    <DELAY_MOVEMENT>0.2</DELAY_MOVEMENT>
    <DELAY_STD>6</DELAY_STD>

    <OUTPUT_PATH>output</OUTPUT_PATH>

    <AIRPLANE_WIDTH>30</AIRPLANE_WIDTH>
    <AIRPLANE_HEIGHT>7</AIRPLANE_HEIGHT>

    <SEAT_PATH>seatConfig.lsv</SEAT_PATH>
</xml>