<xml version="1.0" encoding="UTF-8">
    <SIMULATION_DELTA_TIME>0.005</SIMULATION_DELTA_TIME>
    <FRAMES_PER_PRINT>20</FRAMES_PER_PRINT>
    <LOG_ON>true</LOG_ON>

    <DELAY_GHOST>2</DELAY_GHOST>
    <DELAY_GETUP>0.1</DELAY_GETUP>
    <DELAY_BAGS>0.3</DELAY_BAGS>

    <OUTPUT_PATH>output</OUTPUT_PATH>

    <AIRPLANE_WIDTH>10</AIRPLANE_WIDTH>
    <AIRPLANE_HEIGHT>10</AIRPLANE_HEIGHT>
</xml>